In [1]:
import pandas as pd

In [6]:
A=['a1', 'a2', 'a3', 'a4', 'a5']
B=[6, 7, 8, 9, 10]
dict = {'col1': A, 'col2': B}  
    
df = pd.DataFrame(dict) 
    
df

  col1  col2
0   a1     6
1   a2     7
2   a3     8
3   a4     9
4   a5    10

In [7]:
C=['a3', 'a5', 'a3', 'a1', 'a1', 'a2', 'a4']

In [10]:
diction=pd.Series(df.col2.values, index=df.col1).to_dict()

In [11]:
diction

{'a1': 6, 'a2': 7, 'a3': 8, 'a4': 9, 'a5': 10}

In [14]:
df1=pd.DataFrame(C, columns=['col3'])

In [17]:
df1['property']=df1['col3'].map(diction)

In [18]:
df1

  col3  property
0   a3         8
1   a5        10
2   a3         8
3   a1         6
4   a1         6
5   a2         7
6   a4         9

In [19]:
#Now lets apply this on real world problem; :)

In [27]:
df1=pd.read_csv('substrate2.csv')

In [28]:
df1

   ars1-hfip.mol2
0  ars4-hfip.mol2
1  ars2-hfip.mol2
2  ars3-hfip.mol2

In [24]:
df2=pd.read_csv('substrate2_global.csv')

In [32]:
df2.rename(columns = {'Unnamed: 0':'file_name', 'CPK Area (Ų)': 'cpk_area', 'CPK Volume (ų)': 'cpk_vol', 'PSA (Ų)': 'psa'}, inplace = True)

In [33]:
df2

        file_name  cpk_area  cpk_vol     psa  CPK Ovality
0  ars1-hfip.mol2    195.67   172.91  20.079         1.30
1  ars2-hfip.mol2    162.71   143.04   0.000         1.23
2  ars3-hfip.mol2    304.57   281.76  33.976         1.47
3  ars4-hfip.mol2    251.54   233.53  13.896         1.37

In [44]:
diction=pd.Series(df2.psa.values, index=df2.file_name).to_dict()

In [45]:
diction

{'ars1-hfip.mol2': 20.079,
 'ars2-hfip.mol2': 0.0,
 'ars3-hfip.mol2': 33.976,
 'ars4-hfip.mol2': 13.895999999999999}

In [46]:
df1['psa']=df1['ars1-hfip.mol2'].map(diction)

In [47]:
df1

   ars1-hfip.mol2  cpk_area  cpk_vol     psa
0  ars4-hfip.mol2    251.54   233.53  13.896
1  ars2-hfip.mol2    162.71   143.04   0.000
2  ars3-hfip.mol2    304.57   281.76  33.976

In [ ]:
#Yes it does work!!!good ....love you god